<% if flash[:message] %>
  <h2 style="color:green"><%= flash[:message] %><h2>
<% end %>
<h1>Welcome <%=@bander.name%>!</h1>

<ul class="flush-left">
<li><h2><a href="/birds/new">Start a new report</a></h2></li>
<%if @reports.length > 0%>
    <li><h2>Continue working on a draft report:</h2>
    <ul>
        <%@reports.each do |report|%>
            <li><h3><a href="/reports/<%=report.date_slug%>"><%=report.date%></a></h3></li>
        <%end%>
    </ul></li>
<%end%>
<li><h2>View or edit a report you have posted:</h2>
    <ul>
        <li><h3>COMING SOON</h3></li>
    </ul>
</li></ul>
<br>
<form class="button" action = "/banders/<%=@bander.slug%>">
    <input type="submit" value="Your Account">
</form>
<form class="button" method='POST' action='/logout' >
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
</form>