<% if flash.has?(:message) %>
  <h2 style="color:green"><%= flash[:message] %><h2>
<% end %>
<h1>Welcome <%=@bander.name%>!</h1>
<h3><a href="/banders/<%=@bander.slug%>">Your Account</a></h3>

<br>
<h1>Choose an option:</h1>
<ul>
<li><h2><a href="/birds/new">Start a new report</a></h2></li>
<%if @reports.length > 0%>
    <li><h2>Continue working on a draft report:</h2>
    <ul>
        <%@reports.each do |report|%>
            <h3><li><a href="/reports/<%=report.date_slug%>"><%=report.date%></a></li></h3>
        <%end%>
    </ul></li>
<%end%>
<li><h2>View or edit a report you have posted:</h2>
    <ul>
        <li><h3>COMING SOON</h3></li>
    </ul>
</li></ul>
<form action = '/sessions/logout'>
    <input type="submit" value="Log Out">
</form>