<% if flash.has?(:message) %>
  <h2 style="color:green"><%= flash[:message] %><h2>
<% end %>
<h1>Welcome <%=@bander.name%>!</h1>
<h3><a href="/banders/<%=@bander.slug%>">Your Account</a></h3>

<br><h1>This app will allow you to:</h1>
<ul>
<h2><li>enter the day's banding list</li></h2>
<h2><li>add your write-up (optional), and</li></h2>
<h2><li>post the report to the website</li></h2>
</ul>
<br>
<h2><a href="/birds/new">Start a new report</a></h2>
<br>
<%if @reports.length > 0%>
    <h2>Or continue working on a draft report:</h2>
    <ul>
        <%@reports.each do |report|%>
            <h3><li><a href="/reports/<%=report.date_slug%>"><%=report.date%></a></li></h3>
        <%end%>
    </ul>
<%end%>

<form action = '/sessions/logout'>
    <input type="submit" value="Log Out">
</form>