<% ## SHOW BY DATE RATHER THAN INDIVIDUAL BIRDS %>
<h1>Birds Banded on <%= @date_string%></h1>
<table>
<tr><th>Alpha Code</th><th>Species</th><th>Number Banded</th><th>Delete</th></tr>
<form action="/birds" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<%@count_by_species.each do |species,value| %>
<tr>
    <td><%=species.code%></td>
    <td><%=species.name%></td>
    <td><input type="number" name="species[<%=species.code%>]" value="<%=value%>"</td>
    <td><input type="checkbox" name="delete[<%=species.code%>]"></td>

</tr>
<%end%>
</table>

<input type="submit" value="Submit Changes">
</form>
