<h1>Add a Bird to the Day's Banding List</h1>
<% if flash.has?(:message) %>
  <h3 style="color:red"><%= flash[:message] %><h3>
<% end %>
<form action='/birds' method="POST">
<h2><label>Date: </label><input type="text" name=date value="<%=@date%>"></h2>
<%if session[:temp]%>
  <h2><label>Alpha code: </label><input type="text" name="bird[species][code]" value="<%=@session[:temp][:entered_alpha_code]%>"></h2>
  <h2><label>Species name: </label><input type="text" name="bird[species][name]" value="<%=@session[:temp][:entered_species_name]%>" ></h2>
  <h2><label>Number banded: </label><input type="number" name="bird[number_banded]" value="<%=@session[:temp][:entered_number_banded]%>" ></h2>
<%else%>
  <h2><label>Alpha code: </label><input type="text" name="bird[species][code]" ></h2>
  <h2><label>Species name: </label><input type="text" name="bird[species][name]" ></h2>
  <h2><label>Number banded: </label><input type="number" name="bird[number_banded]" ></h2>
<%end%>
<input type="submit" value="Save">
</form>
<%#NEED TO ADD LOGIC HERE FOR APPROPRIATE REDIRECT %>
<form action="/birds/cancel" method="POST">
  <input type="submit" value="Cancel">
</form>
