<h1>Birds Banded Report for <%=@date_string%></h1>
<h2>Posted by: <%=@bander%></h2>
<%if @narrative%>
    <p><%=@narrative.content%></p>
<%end%>
<table>
<tr><th>Alpha Code</th><th>Species</th><th>Number Banded</th></tr>
<%@count_by_species.each do |key,value| %>
<tr><td><%=key.code%></td><td><%=key.name%></td><td><%=value%></td>
</tr>
<%end%>
</table>
<%# NEED TO FIGURE OUT HOW TO RETAIN PARAGRAPHS %>