<h1>Birds Banded Report for <%=@date_string%></h1>
<h2>Posted by: <%=@bander%></h2>
<%if @narrative%>
    <p><%=@narrative.content%></p>
    <% ##if logged_in?%>
    <form action="/birds/<%=@date_slug%>/edit_narrative">
        <input type="submit" value="Edit narrative" />
    </form>
    <% ##end%>
<%end%>
<br><br>
<table>
<tr><th>Alpha Code</th><th>Species</th><th>Number Banded</th></tr>
<%@count_by_species.each do |key,value| %>
<tr><td><%=key.code%></td><td><%=key.name%></td><td><%=value%></td>
</tr>
<%end%>
</table>

<% ##if logged_in?%>
<form action="/birds/<%=@date_slug%>/edit">
    <input type="submit" value="Edit banded list" />
</form>
<br><br>
<form action="/birds/submit" method="post">
    <input type="submit" value="Finished" />
</form>
<% ##end%>

<%# NEED TO FIGURE OUT HOW TO RETAIN PARAGRAPHS %>