<% ## SHOW BY DATE RATHER THAN INDIVIDUAL BIRDS %>
<% if flash.has?(:message) %>
  <h3 style="color:red"><%= flash[:message] %><h3>
<% end %>
<h1>Birds Banded Report for <%= @date_string%></h1>
<form action="/reports" method="POST" id="update_report">
<input id="hidden" type="hidden" name="_method" value="patch">
<h2>Edit banded list:</h2>
<table>
<tr><th>Alpha Code</th><th>Species</th><th>Number Banded</th><th>Delete</th></tr>
<%@count_by_species.each do |species,value| %>
<tr>
    <td><%=species.code%></td>
    <td><%=species.name%></td>
    <%if session[species.code]%>
      <td><input type="number" name="species[<%=species.code%>]" value="<%=session[species.code]%>"</td>
    <%else%>
      <td><input type="number" name="species[<%=species.code%>]" value="<%=value%>"</td>
    <%end%>
    <td><input type="checkbox" name="delete[<%=species.code%>]"></td>

</tr>
<%end%>
</table>
<input type="submit" name="add_more_birds" value="Add more birds" />
<% #PENDING CHANGES WARNING %>

<br><br>
<input type="submit" value="Submit Changes">
<input type="submit" name="cancel_changes" value="Cancel Changes">
<br><br>
</form>