<% ## SHOW BY DATE RATHER THAN INDIVIDUAL BIRDS %>
<% if flash.has?(:message) %>
  <h3 style="color:red"><%= flash[:message] %><h3>
<% end %>
<h1>Birds Banded Report for <%= @date_string%></h1>
<form action="/reports" method="POST" id="update_report">
<input id="hidden" type="hidden" name="_method" value="patch">
<h2>Edit banded list:</h2>
<table>
<tr><th>Alpha Code</th><th>Species Name</th><th>Number Banded</th><th>Delete</th></tr>
<%@count_by_species.each do |species,value| %>
<tr>
    <td><%=species.code%></td>
    <td><%=species.name%></td>
    <%if session[:temp]%>
      <%if session[:temp][species.code]%>
        <td><input type="number" name="species[<%=species.code%>]" value="<%=session[:temp][species.code]%>"</td>
      <%else%>
        <td><input type="number" name="species[<%=species.code%>]" value="<%=value%>"</td>
      <%end%>
    <%else%>
      <td><input type="number" name="species[<%=species.code%>]" value="<%=value%>"</td>
    <%end%>
    <td><input type="checkbox" name="delete[<%=species.code%>]"></td>

</tr>
<%end%>
</table>
<br>
<input class="button" type="submit" value="Submit Changes">
<input class="button" type="submit" name="cancel_changes" value="Cancel Changes">
<input class="button" type="submit" name="add_more_birds" value="Add more birds">
</form>