<h1>**PREVIEW** </h1>
<h1>Birds Banded Report for <%=@date_string%></h1>
<h2>Posted by: <%=@bander%></h2>
<%if (@narrative && @narrative != "") %>
    <p><%=@narrative%></p>
<%end%>

<br><br>
<table>
<tr><th>Alpha Code</th><th>Species</th><th>Number Banded</th></tr>
<%@count_by_species.each do |key,value| %>
<tr><td><%=key.code%></td><td><%=key.name%></td><td><%=value%></td>
</tr>
<%end%>
</table>

<br><br>

<form action="/reports/<%=@date_slug%>">
    <input type="submit" value="Edit Report" />
</form>
<form action="/home">
    <input type="submit" value="Save as draft" />
</form>
<form action="/reports/submit" method="post">
    <input type="submit" value="Post Report" />
</form>

<%# NEED TO FIGURE OUT HOW TO RETAIN PARAGRAPHS %>