<%if !@edit_access%>
    <h3 style="color:red">Note: you do not have permission to edit or post this report.</h3>
<%else%>
    <h1>*PREVIEW*</h1>
<%end%>
<h1>Birds Banded Report for <%=@date_string%></h1>
<h2>Posted by: <%=@bander.name%></h2>
<%if (@narrative && @narrative != "") %>
    <p><%=@narrative%></p>
<%end%>

<br><br>
<table>
<tr><th>Alpha Code</th><th>Species</th><th>Number Banded</th></tr>
<%@count_by_species.each do |key,value| %>
<tr><td><%=key.code%></td><td><%=key.name%></td><td><%=value%></td>
</tr>
<%end%>
</table>

<br><br>
<% if @edit_access%>
    <form class='button' action="/reports/<%=@date_slug%>">
        <input class='a' type="submit" value="Edit Report" />
    </form>
    <form class='button' action="/home">
        <input class='a' type="submit" value="Save as draft" />
    </form>
    <form class='button' action="/reports/submit" method="post">
        <input class='a' type="submit" value="Post Report" />
    </form>
<%end%>
<%# NEED TO FIGURE OUT HOW TO RETAIN PARAGRAPHS %>