<h1>Birds Banded Report for <%=@date_string%></h1>
<h2>Posted by: <%=@bander%></h2>
<table>
<tr><th>Alpha Code</th><th>Species</th><th>Number Banded</th></tr>
<%@count_by_species.each do |key,value| %>
<tr><td><%=key.code%></td><td><%=key.name%></td><td><%=value%></td>
</tr>
<%end%>
</table>
<form action="/reports/<%=@date_slug%>/edit">
    <input type="submit" value="Edit banded list" />
</form>
<form action="/birds/new">
    <input type="submit" value="Add more birds" />
</form>
<form action="/reports/<%=@date_slug%>" method="POST">
    <input type="submit" name="list_complete" value="Banding list complete" />
</form>
<br><br>


<form action="/reports/<%=@date_string%>" method="POST" id="narrative">
<%if !@narrative%>
    <h3>Add your write-up (optional):</h3>
<%else%>
    <h3>Your write-up:</h3>
<%end%>
<textarea cols="100" rows="10" name="narrative[content]" form="narrative"><%=@narrative%></textarea> 
<p><input type="submit" value="Update"><p>
</form>
<br><br>



<% ##if logged_in?%>
<br><br>
<% ## SAVE REPORT IN PROGRESS %>
<form action="/home" method="get">
    <input type="submit" value="Preview Report" />
</form>
<form action="/reports/submit" method="post">
    <input type="submit" value="Post Report" />
</form>
<% #CONFIRM READY TO POST %>
<% ##end%>

<%# NEED TO FIGURE OUT HOW TO RETAIN PARAGRAPHS %>