<h1>Birds Banded Report for <%=@date_string%></h1>
<br>
<table>
<tr><th>Alpha Code</th><th>Species</th><th>Number Banded</th></tr>
<%@count_by_species.each do |key,value| %>
<tr><td><%=key.code%></td><td><%=key.name%></td><td><%=value%></td>
</tr>
<%end%>
</table>

<form action="/reports/<%=@date_slug%>/edit">
    <input type="submit" value="Edit banded list" />
</form>

<form action="/birds/new">
    <input type="submit" value="Add more birds" />
</form>

<br><br>

<%if (@narrative && @narrative != "") || @show_narrative%>
    <form action="/reports" id="narrative" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <h3>Writeup:</h3>
    <textarea cols="100" rows="10" name="narrative[content]" form="narrative"><%=@narrative%></textarea> 
    <p><input type="submit" value="Update"><p>
    
    </form>
<%else%>
    <form action="/reports/<%=@date_slug%>/add_narrative" method="POST">
        <input type="submit" name="add_narrative" value="Add a Writeup" />
    </form>
<%end%>

<br><br>

<form action="/reports/<%=@date_slug%>/preview">
    <input type="submit" value="Preview Report" />
</form>

<%# NEED TO FIGURE OUT HOW TO RETAIN PARAGRAPHS %>