<h1>Step 3: Post the Report</h1> 
<h2>Birds Banded Report for <%=@date_string%></h2>
<h2>Posted by: <%=@bander%></h2>
<%if @narrative%>
    <p><%=@narrative%></p>
    <br><br>
    <% ##if logged_in?%>
    <% ##end%>
<%end%>
<table>
<tr><th>Alpha Code</th><th>Species</th><th>Number Banded</th></tr>
<%@count_by_species.each do |key,value| %>
<tr><td><%=key.code%></td><td><%=key.name%></td><td><%=value%></td>
</tr>
<%end%>
</table>

<% ##if logged_in?%>
<br>
<form action="/reports/<%=@date_slug%>/edit">
    <input type="submit" value="Edit report" />
</form>
<br><br>
<% ## SAVE REPORT IN PROGRESS %>
<form action="/reports/submit" method="post">
    <input type="submit" value="Post Report" />
</form>
<% #CONFIRM READY TO POST %>
<% ##end%>

<%# NEED TO FIGURE OUT HOW TO RETAIN PARAGRAPHS %>